<!--<div class="container">-->
    <!--<div class="header">-->
        <!--<ul class="nav nav-pills pull-right">-->
            <!--<li class="active"><a ng-href="#">Home</a></li>-->
                <!--<li><a ng-href="#/projects"></a></li>-->
                <!--<li><a ng-href="#/issues">Issues</a></li>-->
                <!--<li><a ng-href="#/users">Users</a></li>-->
        <!--</ul>-->
        <!--<h3 class="text-muted">cc horse horsington</h3>-->
    <!--</div>-->
    <!--<div ng-view>-->

    <!--</div>-->
    <!--<div class="footer">-->
        <!--<p><span class="glyphicon glyphicon-heart"></span></p>-->
    <!--</div>-->
<!--</div>-->